script(src='./public/js/pixi-legacy.js')
script(src='./public/js/pixi-spine.js')
script(src='./public/js/pixi-sound.js')
script(src='./public/js/pixi-timeout.js')
script(src='./public/js/tween.js')
script(src='./public/js/main.min.js')
